    body {
  text-align: center;
  background: #101010;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
}

video, canvas {
  width: 640px;
  height: 480px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #444;
}

#stats {
  margin-top: 20px;
  font-size: 18px;
}
